Repository encode/starlette, pull requests merged in 2021-06, with the labels that each got.

#1146 Clean up param "workers" in WSGIMiddleware
  starlette/middleware/wsgi.py
Labels: clean up

#1199 Deduplicate failure text in CORS preflight response
  starlette/middleware/cors.py
  tests/middleware/test_cors.py
Labels: cors

#1039 reset the `__eq__` and `__hash__` of HTTPConnection to allow WebSockets to be added to …
  starlette/requests.py
  tests/test_websockets.py
Labels: websocket
