Repository encode/starlette, pull requests merged in 2021-02, with the labels that each got.

#1135 Deprecate built-in GraphQL support
  docs/graphql.md
  docs/index.md
  docs/release-notes.md
  mkdocs.yml
  setup.cfg
  starlette/graphql.py
Labels: graphql

#1023 StaticFiles: Fix cache validation bug for deleted files in html mode
  starlette/staticfiles.py
  tests/test_staticfiles.py
Labels: bug, staticfiles

#1136 Fix docs syntax highlighting
  mkdocs.yml
Labels: documentation
